doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title slack deletron
		meta(name="keywords" content="Slack, Deletron, Slack Deletron, Delete Slack Files")
		meta(name="description" content="A tool to help delete those cat gifs and other weird files from your Slack team")
		meta(name="author" content="Drew Minns")
		meta(property="og:title" content="Slack Deletron")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.slackdeletron.com")
		meta(property="og:image" content="http://www.slackdeletron.com/images/fileshare.jpg")
		meta(property="og:site_name" content="Slack Deletron")
		meta(property="og:description" content="A tool to help delete those cat gifs and other weird files from your Slack team")
		meta(name="twitter:card" content="summary" )
		meta(name="twitter:site" content="@drewisthe" )
		meta(name="twitter:title" content="Slack Deletron" )
		meta(name="twitter:description" content="A tool to help delete those cat gifs and other weird files from your Slack team" )
		meta(name="twitter:image" content="http://www.slackdeletron.com/images/fileshare.jpg" )
		link(rel='icon', href='images/favicon.png', type='image/png')
		link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='styles/main.css')
	body
		header.home-intro
			.wrapper
				h1 slack deletron
				p.lead delete those cat gifs and other weird files
				a.login(href="auth/slack") 
					|	login with slack